/* CSS Document */

/* All Pages */
body {
	background-color: #7B869C;
	font-family: Arial, Tahoma, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.2;
	color: #666666;
	margin: 0;
	text-align: center;
	padding-bottom: 15px;
}
#printbutton {
	position: relative;
	left: 510px;
	top: -13px;
	float: right;
}
#wrapper {
	width: 970px;
	height: 100%;
	text-align: left;
}
#header {
	height: 47px;
	color: #FFFFFF;
	background-color: #7B869C;
	float: left;
}
#hdrnav {
	width: 90px;
	height: 47px;
	float: left;
}
#hdrnav img {
	border: 0;
}
#hdrleft {
	width: 817px;
	height: 47px;
	font-weight: bold;
	font-size: 11px;
	line-height: 1.2;
	float: left;
	background-color: #7B869C;
	background-image: url('../images/img_tb_lbkgnd_727x47.png');
	color: #263758;
}
#hdrinnerone {
	position: relative;
	top: 25%;
	width: 705px;
	padding-left: 15px;
	line-height: 1.5;
}
#hdrinnertwo {
	position: relative;
	top: 8%;
	width: 705px;
	padding-left: 15px;
	line-height: 1.5;
}
#hdrleft a:link, #hdrleft a:visited, #hdrleft a:active, #hdrleft a:hover {
	color: #263758;
	font-weight: bold;
	font-size: 11px;
	line-height: 1.2;	
}
#hdrright {
	width: 153px;
	height: 47px;
	float: left;
	background-color: #7B869C;
	background-image: url('../images/img_tb_rbkgnd_153x47.png');
}
#contentwrapper00 {
	width: 970px;
	height: 700px;
	background-color: #7B869C;
	background-image: url('../images/img_pg_00bkgnd_970x653.png');
	background-attachment: fixed;
	background-position: 0px 45px; 
	background-repeat: no-repeat;
}
#contentwrapper01 {
	width: 970px;
	height: 700px;
	background-color: #7B869C;
	background-image: url('../images/img_pg_01bkgnd_970x653.png');
	background-attachment: fixed;
	background-position: 0px 45px; 
	background-repeat: no-repeat;
}
#contentwrapper02 {
	width: 970px;
	height: 653px;
	background-color: #7B869C;
	background-image: url('../images/img_pg_02bkgnd_970x653.png');
	background-repeat: no-repeat;
}
#contentwrapper03 {
	width: 970px;
	height: 653px;
	background-color: #7B869C;
	background-image: url('../images/img_pg_03bkgnd_970x653.png');
	background-repeat: no-repeat;
}
#contenthome h1, #content h1, #contenti h1 {
	font-size: 20px;
	color: #ffb463;
	margin: 0;
	padding-bottom: 8px;
}
#content h2, #contenti h2 {
	font-size: 20px;
	color: #ffffff;
	margin: 0;
	padding-bottom: 8px;
}
ul {
	margin: 0 0 0 30px;
	padding: 0;
}
li {
	margin: 0;
	padding-top: 0;
	padding-bottom: 8px;
}
/* Used for DIVs that act as subparagraphs within LIs */
.sublipara {
	padding: 0; 
	margin-top: 8px;
}
/* Non-index Pages */
#content {
	width: 430px;
	height: 440px;
	margin-bottom: 12px;
	padding: 23px 25px 15px 15px;
	float: left;
}
#contenthome {
	width: 430px;
	height: 440px;
	margin-bottom: 12px;
	padding: 23px 25px 15px 15px;
	float: left;
}
#content p, #contenti p {
	padding: 0;
	margin-top: 6px;
	margin-bottom: 14px;
	color: #E2EBFF;
	line-height: 17px;
}
#content li, #contenti li {
	color: #E2EBFF;
	line-height: 17px;
}
#content a:link, #content a:visited, #content a:active, #content a:hover {
	color: #bdf1ff;
}
#contenthome p {
	padding: 0;
	margin-top: 6px;
	margin-bottom: 14px;
	color: #E2EBFF;
	line-height: 28px;
}
#graphic {
	width: 480px;
	height: 480px;
	padding: 80px 0 0 0px;
	float:left;
	position: relative;
	font-size: 13px;
	color: #666666;
}
#graphiclrg {
	top: 35px;
	padding: 0 0 0 0;
	float:left;
	position: relative;
	font-size: 13px;
	color: #666666;
}
#graphicleft {
	width: 480px;
	height: 380px;
	padding: 100px 0 0 0;
	float:left;
	position: relative;
	font-size: 13px;
	color: #666666;
}
#learnwrapper {
	width: 334px;
	background-image: url('../images/img_et_bkgnd_334x192.png');
	background-repeat: no-repeat;
	margin: 33px 0 23px 33px;
}
/*
#learnwrappertall {
	width: 334px;
	background-image: url('../images/img_et_bkgnd_280x359.png');
	background-repeat: no-repeat;
	margin: 147px 0 23px 148px;
	position: relative;
	float: left;
}
*/
#learnwrappertall {
	width: 336px;
	background-image: url('../images/img_et_bkgnd_336x359.png');
	background-repeat: no-repeat;
	margin: 97px 0 23px 90px;
	position: relative;
	float: left;
}
#learn_hdr {
	width: 334px;
	padding: 8px 0 0 57px;
	height: 33px;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
}
#learn {
	width: 335px;
	height: 159px;
	padding: 27px 10px 10px 19px;
	color: #39516B;
}
#learnother {
	width: 335px;
	height: 159px;
	padding: 27px 10px 10px 19px;
	color: #39516B;
}
#learn a:link, #learn a:visited, #learn a:active, #learn a:hover {
	font-size: 14px;
	font-weight: bold;
	color: #334C7C;
	text-decoration: none;
	line-height: 24px;	
}
#learnother a:link, #learnother a:visited, #learnother a:active, #learnother a:hover {
	font-size: 14px;
	font-weight: bold;
	color: #334C7C;
	text-decoration: none;
	line-height: 24px;	
}
#learn ul {
	list-style-type: square;
}
#learn li {
	color: #949faa;
}
#learnother ul {
	list-style-type: square;
}
#learnother li {
	color: #949faa;
}
#learntall {
	width: 336px;
	height: 326px;
	padding: 20px 10px 10px 19px;
	color: #334C7C
}
#learntall a {
	font-size: 14px;
	font-weight: bold;
	color: #334C7C;
	text-decoration: none;
	line-height: 24px;	
}
#learntall ul {
	list-style-type: square;
	color: #949faa;
}
#learntall li {
	color: #334C7C;
}
#reltopics {
	line-height: 1.7;
	margin: 30px 0 0 0;
}
#reltopics p {
	color: #bdf1ff;
	margin-top: 0;
	margin-bottom: 7px;
}
#reltopics a:link, #reltopics a:visited, #reltopics a:active, #reltopics a:hover {
	color: #bdf1ff;
}
#addtl {
	margin: 15px 0 0 0;
}
#addtl p {
	color: #bdf1ff;
	padding: 0;
	margin-top: 0;
	margin-bottom: 8px;
}
#addtl a:link, #addtl a:visited, #addtl a:active, #addtl a:hover {
    background: transparent url('../images/pdf.gif') center left no-repeat; 
    padding-left: 22px; 
    color: #bdf1ff;
}

/* Index Pages */
#contenti {
	width: 500px;
	padding: 10px 394px 30px 15px;
	float: left;
	background-color: #FFFFFF;
	border-right: 1px solid #39516b;
	border-left: 1px solid #39516b;
}
#index_hdr {
	width: 382px;
	margin-left: 200px;
	padding: 4px 10px;
	background-color: #39516B;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
}
#index {
	width: 360px;
	margin-left:  200px;
	margin-bottom: 12px;
	padding: 0px 10px 10px 30px;
	background-color: #EFF1F3;
	border: 1px solid #39516B;
	color: #39516B;
	font-size: 12px;
}
#index a {
	font-size: 16px;
}
#index p {
	padding-top: 0px;
	margin-top: 10px;
	padding-bottom: 0px;
	margin-bottom: 16px;
}
#next_hdr {
	width: 282px;
	margin: 0px 0 0 566px;
	font-size: 20px;
	font-weight: bold;
	color: #ffb463;
}
#next_hdr_lrg {
	width: 282px;
	margin: 0px 0 0 566px;
	font-size: 20px;
	font-weight: bold;
	color: #ffb463;
}
#next {
	width: 390px;
	margin: 3px 0 15px 566px;
	padding: 0 16px 20px 0;
	font-size: 14px;
}
#next p {
	margin: 0;
	padding: 0;
}
#next a:link, #next a:visited, #next a:active, #next a:hover {
	color: #bdf1ff;
	text-decoration: none;
	font-weight: bold;
}
#stepbysteplist {
	list-style-type: square;
	color: #949faa;
}
#stepbysteplist a:link, #stepbysteplist a:visited, #stepbysteplist a:active, #stepbysteplist a:hover {
	text-decoration: none;	
	font-weight: bold;
}
/* Branch box classes */
#branch_box_wrapper {
	width: 315px;
	margin: 97px 0 23px 120px;
	position: relative;
	float: left;
}
#branch_box_wrapper_top {
	width: 315px;
	height: 52px;
	background-image: url('../images/img_branch_box_top.png');
	background-repeat: no-repeat;
}
#branch_box_wrapper_top h1 {
	color: #ffffff;
	font-family: Arial, Tahoma, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 7px 0 0 56px;
}
#branch_box_items_wrapper {
	width: 315px;
	height: 260px;
	background-image: url('../images/img_branch_box_bkgnd.png');
	background-repeat: repeat-y;
}
.branch_box_item_normal {
	width: 294px;
	height: 42px;
	background-image: url('../images/img_branch_point_normal.png');
	background-repeat: no-repeat;
	margin: 0 0 10px 10px;
	cursor: default;
}
.branch_box_item_normal h1 {
	font-family: Arial, Tahoma, Helvetica, sans-serif;
	font-size: 14px;
	margin: 0 0 0 11px;
	padding: 2px 0 3px 0;
	color: #334c7c;
}
.branch_box_item_normal p {
	font-family: Arial, Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0 0 0 11px;
	padding: 0;
	color: #334c7c;
}
.branch_box_item_hover {
	width: 294px;
	height: 42px;
	background-image: url('../images/img_branch_point_hover.png');
	background-repeat: no-repeat;
	margin: 0 0 10px 10px;
	cursor: hand;
}
.branch_box_item_hover h1 {
	font-family: Arial, Tahoma, Helvetica, sans-serif;
	font-size: 14px;
	margin: 0 0 0 11px;
	padding: 2px 0 3px 0;
	color: #ffffff;
}
.branch_box_item_hover p {
	font-family: Arial, Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0 0 0 11px;
	padding: 0;
	color: #ffffff;
}
#branch_box_wrapper_bottom {
	width: 315px;
	height: 56px;
	background-image: url('../images/img_branch_box_bottom.png');
	background-repeat: no-repeat;
}
