<?xml version="1.0" encoding="UTF-8"?>

<plugin id="com.vmware.vsphere.client.tiwoui"
   moduleUri="TiwoModule.swf"
   defaultBundle="TiwoUi">

   <resources>
      <resource locale="{locale}">
         <module uri="locales/tiwo-ui-{locale}.swf"/>
      </resource>
   </resources>

   <extension id="vsphere.core.tiwo.sidebarView">
      <extendedPoint>vsphere.core.appSidebarViews</extendedPoint>
      <object>
         <name>#{tiwoTitle}</name>
         <componentClass className="com.vmware.vsphere.client.views.tiwo.TiwoView"/>
         <!-- The icon is taken directly from the tiwo.swc module because we do not
              really want to change its default behaviour. -->
         <iconComponentClass>
            <className>com.vmware.tiwo.views.TiwoIcon</className>
         </iconComponentClass>
         <icon>#{Tiwo:tiwoIcon}</icon>
      </object>
   </extension>
</plugin>
